@page "/employeeoverviewvirtual"

<h3>Employee Overview</h3>

@if(_employees == null) {<p><em>Loading...</em></p>}
else{
    @* <table class="table">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var employee in _employees)
            {
                <tr>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                </tr>
            }
        </tbody>
    </table> *@

    @* <div class="virtualized">
        <table class="table">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <Virtualize Items="_employees" ItemSize="itemHeight">
                    <tr @key="context.GetHashCode()">
                        <td>@context.EmployeeId</td>
                        <td>@context.FirstName</td>
                        <td>@context.LastName</td>
                    </tr>
                </Virtualize>
            </tbody>
        </table>
    </div> *@

    <div class="virtualized">
        <table class="table">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                <Virtualize ItemsProvider="LoadEmployees" ItemSize="itemHeight">
                    <ItemContent>
                        <tr @key="context.GetHashCode()">
                            <td>@context.EmployeeId</td>
                            <td>@context.FirstName</td>
                            <td>@context.LastName</td>
                        </tr>
                    </ItemContent>
                    <Placeholder>
                        <tr>
                            <td>Loading...</td>
                            <td>Loading...</td>
                            <td>Loading...</td>
                        </tr>
                    </Placeholder>
                </Virtualize>
            </tbody>
        </table>
    </div>
}